

.login-box{
    width:40%;
    margin:0 auto;
}

.login-box .sign-up{
   display: flex;
    justify-content: center;
    margin-top: 30px;
}

.login-button-area{
    display: flex;
    justify-content: flex-end;
}

.App .form-group label.control-label{
    font-size: 20px;
    margin-top: 0;
    color: #00aa9a;
    text-align: left;
    cursor: pointer;
}

.login-section{
    margin-top: 30px;
    font-weight: bold;
}

.row{
    margin:0;
}